:root {
    --md-primary-fg-color:        #5bbadb;
    --md-primary-fg-color--light: #5bbadb;
    --md-primary-fg-color--dark:  #5bbadb;

    --md-accent-fg-color:        #5bbadb;
    --md-accent-fg-color--light: #5bbadb;
    --md-accent-fg-color--dark:  #5bbadb;
  }